html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

.body {
    background: #eee;
    transition: background 1s;
    font-family: 'Montserrat', sans-serif;
}

.body:hover {
    background: hsl(0, 0%, 99%);
}